@charset "UTF-8";
/* This is a comment! Text here will be ignored by the browser. */

body {
     font: 100%/1.4 Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif"sans-serif;
     background-color: #FFFFFF;
     margin: 0 auto;
     padding: 0;
     color: #000;
}

a:link {
     color: #27838C;
}

a:visited {
     color: #32A1AC;
}

.homePage {
	background: #3F093F;
}
.container {
	width: 960px;
	margin: 0 auto;
}
.header {
	background: #96203C;
	text-align: center;
	margin: 0px;
	padding: 5;
	float: left;
	width: 100%;
	height: 80px;
	
}
.nav {
	background: #5B002F;
	margin: 0px;
	padding: 5;
	float: left;
	width: 100%;
	height: 60px;
	text-align: center;
}
.content {
	background: #CBF3FD;
	margin: 0px;
	float: left;
	width: 100%;
	text-align: center;
}
.footer {
	background: #96203C;
	margin: 0px;
	float: left;
	width: 100%;
	height: 50px;
	text-align: center;
}